.Layout {
  background-color: rgb(243, 222, 222);
  width: 100%;
  background-color: rgb(233, 73, 73);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(243, 168, 168);
  height: 350px;
  width: 300px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 15px;
  margin: 10px;
}

.img {
  border-radius: 15px;
  overflow: hidden;
}

.btnCo {
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.5;
  color: #2e0808;
  background-color: rgb(136, 218, 200);
  border: 1px solid #ddd;
  cursor: pointer;
}
